.item-group-container {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .item-group {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    border-bottom: 2px solid darkgray;
  }
  
  .item-container {
    min-height: calc(100vh - 250px);
  }
  
  .icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 70px;
  }
  
  .avatar-inprogress-div {
    width: 40%;
    float: left;
    //margin-top: -15px;
    display: flex;
    flex-direction: row;
  }
  .item {
    position: relative;
    padding: 5px 10px;
    font-size: 13px;
    margin: 10px 0;
    //border-radius: 3px;
    font-family: Lato;
  }
  
  .mat-raised-button.mat-details {
    font-size: Lato;
    font-size: 12px;
    color: white;
    background-color: #1bbdb8;
    margin-left: 46px;
    height: 30px;
  }
  
  .mat-raised-button.mat-delete {
    font-size: Lato;
    font-size: 12px;
    color: white;
    background-color: #e80000;
    margin-left: 20px;
    height: 30px;
  }
  
  .item-avatar {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  
  @media only screen and (max-width: 959px) {
    .orders-board-container {
      width: 100%;
      overflow-y: hidden;
      margin: 0 100px 0 100px;
    }
  }
  
  @media only screen and (max-width: 1280px) {
    .icon-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 15px;
      padding-bottom: 20px;
    }
    .mat-raised-button.mat-details {
      font-size: Lato;
      font-size: 12px;
      color: white;
      background-color: #1bbdb8;
      margin-left: 36px;
      height: 30px;
    }
  
    .mat-raised-button.mat-delete {
      font-size: Lato;
      font-size: 12px;
      color: white;
      background-color: #e80000;
      margin-left: 25px;
  
      height: 30px;
    }
  }
  .orders-board-container {
    margin: 20px;
    background-color: #f7f5f5;
  }
  
  ::ng-deep .card {
    height: calc(100vh - 85px);
    padding: 0 !important;
    overflow-y: auto !important;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .btn {
    margin: 5px 13px 5px 13px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  input[type="text"] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type="text"]:focus {
    width: 100%;
  }
  
  .autocomplete {
    color: black;
    font-size: 15px;
  }
  
  .autocomplete-width {
    text-align: center;
  }
  .fixed {
    position: fixed;
    width: 100%;
  }
  
  .card-container {
    width: 1306px;
    margin: 10px;
    flex-flow: row wrap;
  }
  
  .btn-group :hover {
    background-color: #1bbdb8;
    color: #ffffff; /* White text */
  }
  .btn-group {
    color: black; /* White text */
    //padding: 0px 0px 5px 0px  ;
    margin-left: 8px;
    //transition: all 0.3s;
    height: 40px;
    font-size: 13px;
    font-family: lato;
    src: "/assets/images/Icon-plus-circle.png";
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    text-align: left;
    float: right;
  }
  // .mat-raised-button {
  //   background-color: #f7f5f5;
  //   border: #efeded;
  // }
  .btn-group .mat-button-base {
    margin: 8px 8px 8px 8px;
  }
  
  @media all and (max-width: 350px) {
     .btn-group {
      display: block;
      margin: 0.4em auto;
    }
  }
  
