<div class="scrollmenu">
  <mat-horizontal-stepper labelPosition="bottom">
    <mat-step label="Loading Point">
    </mat-step>
    <mat-step label="In Tansit">
    </mat-step>
    <mat-step label="Unloading Point">
    </mat-step>
  </mat-horizontal-stepper>
</div>



<div class="scrollmenu">
  <app-order-data-table></app-order-data-table>
  <!-- <mat-horizontal-stepper labelPosition="bottom">
    <mat-step label="Trip1">
      <app-order-data-table></app-order-data-table>
    </mat-step>
    <mat-step label="Trip2">
    </mat-step>
    <mat-step label="Trip3">
    </mat-step>
    <mat-step label="Trip4">
    </mat-step>
    <mat-step label="Trip5">
    </mat-step>
    <mat-step label="Trip6">
    </mat-step>
    <mat-step label="Trip7">
    </mat-step>
    <mat-step label="Trip8">
    </mat-step>
    <mat-step label="Trip9">
    </mat-step>
    <mat-step label="Trip10">
    </mat-step>

  </mat-horizontal-stepper> -->
</div>

