h3 {
  border: 1px;
  background-color: #4caf50;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  color:white;
}

.mat-raised-button.mat-success{
  background-color:#519872;
  color: #fff;
} 

.mat-raised-button.mat-warn{
  background-color:#bd6514;
  color: #fff;
} 

.from-color{
  background-color: #FFFFFF ;
  border-radius: 5px; 
  height:49px;
  margin-top: 20px;
  border: 1px solid #E7E5E5;

 
}

.label-padding
{
  padding-left: 20px;
  color: black;
}