table {
    font-family: 'Arial';
    margin: 0px auto;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
  .customClass{
        border: 2px solid  #BDD3E5;
      }
      
      td {
        color: #070707;
        text-align: left;
        padding: 2px 5px;
        overflow-y: auto;
        max-width: 200px;
        text-overflow: ellipsis " [..]";
      }
      th {
        // background: #BDD3E5;
        color: black;
        text-transform: capitalize;
        font-size: 13px;
        height: 50px;
        &.last {
          border-right: none;
        }
        padding: 2px 5px;
      }
    }
    .mat-raised-button.mat-success {
      background-color: #519872;
      color: #fff;
    }
    .mat-raised-button.mat-warn {
      background-color: #bd6514;
      color: #fff;
    }
    .span-header {
      color: #000000;
      font-size: 15px;
      font-weight: bold;
    }
    .div-span{
      padding-top: 10px;
    }