.input-design {
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 49px;
    margin-top: 5px;
    border: 1px solid #E7E5E5;
}

.mat-raised-button.mat-success {
    background-color: #519872;
    color: #fff;
}