<h3 mat-dialog-title>
    Target value Add
  </h3>
  
  <div mat-dialog-content>
    <mat-progress-bar
      *ngIf="asyncService?.isLoading | async"
      mode="indeterminate"
    >
    </mat-progress-bar>
    <form
      [id]="formId"
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)"
      novalidate
    >
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
      <div
        fxLayout="row wrap"
        fxLayoutGap="10px"
        fxFlex="100%"
        fxFlex.sm="50%"
        fxLayout.lt-sm="column"
        fxFlex.xs="100%"
        fxLayoutAlign="flex-start"
      >
        <mat-form-field
          fxFlex="0 1 calc(100% - 10px)"
          fxFlex.lt-md="0 1 calc(100% - 10px)"
          fxFlex.lt-sm="100%"
          fxFlex.xs="100%"
          appearance="fill"
        >
            <mat-label>Target value</mat-label>
            <input
              matInput
              placeholder="Target value"
              formControlName="target_value"
              required
            />
            <mat-error
              *ngIf="target_value.invalid && (target_value.dirty || target_value.touched)"
            >
              <ng-container *ngIf="target_value.hasError('required')"
                >Target value is required.</ng-container
              >
            </mat-error>
          </mat-form-field>
  
<!--   
          <mat-form-field
            fxFlex="0 1 calc(50% - 10px)"
            fxFlex.lt-md="0 1 calc(50% - 10px)"
            fxFlex.lt-sm="100%"
            fxFlex.xs="100%"
            appearance="fill"
          >
            <mat-label>Type</mat-label>
            <mat-select formControlName="target_value_type" required>
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="target_value_type.invalid && (target_value_type.dirty || target_value_type.touched)">
              <ng-container *ngIf="target_value_type.hasError('required')"
                >Type is required.</ng-container
              >
            </mat-error>
          </mat-form-field> -->
  
 
        </div>
      </div>
    </form>
  </div>
  <br />
  
  <div mat-dialog-actions fxLayoutAlign="end end">
    <button type="button" class="mat-raised-button" [mat-dialog-close]>
      Cancel
    </button>
    <button
      [attr.form]="formId"
      type="submit"
      class="mat-raised-button mat-primary"
      [disabled]="asyncService?.isLoading | async"
    >
      Submit
    </button>
  </div>
  