<div class="example-container">
<div class="form-container">
<form [id]="formId" [formGroup]="form" (ngSubmit)="onChangePassword(form.value)" novalidate>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
      <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column" fxFlex.xs="100%"
        fxLayoutAlign="flex-start">
        
        <mat-form-field class="form-field" appearance="outline" fxFlex="0 1 calc(100% - 10px)" fxLayoutAlign="center center" fxFlex.lt-md="0 1 calc(100% - 10px)" fxFlex.lt-sm="100%"
          fxFlex.xs="100%" appearance="fill">
          <mat-label>Old Password</mat-label>
          <input matInput placeholder="Old Password" [type]=" hideOldPassword ? 'password' : 'text'"
           formControlName="oldPassword" required />
           <mat-icon matSuffix (click)=" hideOldPassword = ! hideOldPassword">{{ hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="
            oldPassword.invalid &&
            (oldPassword.dirty || oldPassword.touched)
          ">
            <ng-container *ngIf="oldPassword.hasError('required')">Old Password is required.</ng-container>
            <ng-container *ngIf="oldPassword.hasError('oldPassword')">Invalid password </ng-container>

          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="0 1 calc(100% - 10px)" fxLayoutAlign="center center" fxFlex.lt-md="0 1 calc(100% - 10px)" fxFlex.lt-sm="100%"
        fxFlex.xs="100%" appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput placeholder="Current Password" [type]="  hideCurrentPassword ? 'password' : 'text'"
        formControlName="currentPassword" required />
        <mat-icon matSuffix (click)=" hideCurrentPassword = ! hideCurrentPassword">{{ hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>

        <mat-error *ngIf="
          currentPassword.invalid &&
          (currentPassword.dirty || currentPassword.touched)
        ">
          <ng-container *ngIf="currentPassword.hasError('required')">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</ng-container>
          <ng-container *ngIf="currentPassword.hasError('currentPassword')">Invalid password </ng-container>

        </mat-error>
      </mat-form-field>
      
      </div>
    </div>
  </form>
</div>
</div>

  <br />
                             
<div mat-dialog-actions fxLayoutAlign="center center">
  <button
  
  [attr.form]="formId" type="submit" class="submitbtn"
    [disabled]="asyncService?.isLoading | async">
    Submit
  </button>
</div>

<!-- <div mat-dialog-actions fxLayoutAlign="center center">
  <button type="submit" class="submitbtn" [disabled]="asyncService?.isLoading | async">
    Submit
  </button>
 
</div> -->