.submitbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 225px;
    opacity: 0.9;
  }

  .form-container{
    width: 600 px; 
    
    margin-top: 10%;
}

.form-field{
  display: block
}

.example-container{
  text-align: center
}