<div class="overlay" id="showcase">
  <div class="logo">
    <img src="../assets/images/logo.png " width="200" alt="logo.img">
  </div>
  <div class="form-container">
<form [id]="formId" [formGroup]="form" (ngSubmit)="forgotPasswordSubmit()" novalidate>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
      <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column" fxFlex.xs="100%"
        fxLayoutAlign="flex-start">
  
        <mat-form-field fxFlex="0 1 calc(100% - 10px)" fxLayoutAlign="center center" fxFlex.lt-md="0 1 calc(100% - 10px)" fxFlex.lt-sm="100%"
          fxFlex.xs="100%" appearance="fill">
          <mat-label>Verification Code</mat-label>
          <input matInput placeholder="Email" 
           formControlName="verificationCode" required />
          <mat-error *ngIf="
            verificationCode.invalid &&
            (verificationCode.dirty || verificationCode.touched)
          ">
            <ng-container *ngIf="verificationCode.hasError('required')">Verification code is required.</ng-container>
            <ng-container *ngIf="verificationCode.hasError('verificationCode')">verification error </ng-container>
          </mat-error>
        </mat-form-field>


        <mat-form-field fxFlex="0 1 calc(100% - 10px)" fxLayoutAlign="center center" fxFlex.lt-md="0 1 calc(100% - 10px)" fxFlex.lt-sm="100%"
        fxFlex.xs="100%" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" 
         formControlName="newPassword" required />
        <mat-error *ngIf="
          newPassword.invalid &&
          (newPassword.dirty || newPassword.touched)
        ">
          <ng-container *ngIf="newPassword.hasError('required')">New Password is required.</ng-container>
          <ng-container *ngIf="newPassword.hasError('newPassword')">New Password is not verified </ng-container>
        </mat-error>
      </mat-form-field>


      <mat-form-field fxFlex="0 1 calc(100% - 10px)" fxLayoutAlign="center center" fxFlex.lt-md="0 1 calc(100% - 10px)" fxFlex.lt-sm="100%"
      fxFlex.xs="100%" appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput placeholder="Confirm password" 
       formControlName="confirmPassword" required />
      <mat-error *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched)
      ">
        <ng-container *ngIf="confirmPassword.hasError('required')">Confirm password is required.</ng-container>
        <ng-container *ngIf="confirmPassword.hasError('confirmPassword')">Confirm password is not verified </ng-container>
      </mat-error>
    </mat-form-field>

      
      </div>
    </div>
  </form>

  <br />

<div mat-dialog-actions fxLayoutAlign="center center">
  <button [attr.form]="formId" type="submit" class="submitbtn"
    [disabled]="asyncService?.isLoading | async">
    Submit
  </button>
</div>
</div>

<!-- <div mat-dialog-actions fxLayoutAlign="center center">
  <button type="submit" class="submitbtn" [disabled]="asyncService?.isLoading | async">
    Submit
  </button>
 
</div> -->
